<section class="articles">
    <h1 class="articles__heading">Contact</h1>

    <ul class="article-ul">
        <li>
            <a href="https://www.instagram.com/mayankraj8601/"><i class="fa-brands fa-instagram"></i>mayankraj8601</a>
        </li>
        <li>
            <a href="https://twitter.com/mayankraj2001j1"><i class="fa-brands fa-twitter"></i>mayankraj2001j1</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/mayank-raj-5b5b10215/"><i class="fa-brands fa-linkedin-in"></i>mayank-raj-5b5b10215</a>
        </li>
        <li>
            <a href="https://github.com/MAYANKANMOL"><i class="fa-brands fa-github"></i>MAYANKANMOL</a>
        </li>
        <li>
            <a href="https://mayankanmol.github.io/Portfolio/"><i class="fa-solid fa-globe"></i>Portfolio</a>
        </li>
    </ul>

</section>